.mui-content {
	padding-bottom: 0;
}
.sec_1 {
	background-color: #fff;
	margin-bottom: 0.2rem;
}
.sec_1 li {
	padding: 0 0.4rem;
	line-height: 1.2rem;
	border-bottom: 1px solid #ededed;
}
.sec_1 li:first-of-type {
	border-top: 1px solid #ededed;
}
.sec_1 li:hover {
	background-color: #f1f1f1;
}
.sec_1 li span.pull-left {
	width: 30%;
	text-align: left;
	box-sizing: border-box;
}

.sec_1 li  input {
	margin: 0;
	width: 65%;
	border: 0;
	padding: 0;
	height: 1.2rem;
	text-align: right;
}
.right_box {
	margin-top: 0.34rem;
}
.sec_1 li:hover input{
	background-color: #f1f1f1;
}

.logo_box {
	padding: 0.2666rem 0.6666rem
}
.logo_box img {
	width: 1.2rem;
	margin-right: .5rem;
}
.logo_box p {
	font-size: 0.35rem;
	color: #666;
	line-height: .65rem;
}

.btn_box {
	position: fixed;
	bottom: 1.3333rem;
	left: 0;
	right: 0;
	text-align: center;
}
.btn_box button {
	line-height: 1rem;
	width: 80%;
	font-size: 0.4rem;
	color: #fff;
	background-color: #3269ff;
}

.sec_2 {
	background-color: #fff;
	padding: 0.2666rem;
}
.sec_2 p {
	color: #acabab;
	font-size: 0.2933rem;
}
.sec_2 i {
	color: #ff0000;
}
.sec_2 span {
	color: #666666;
}
.sec_trip p{
	text-align: center;
	font-size: 0.3rem;
	color: #999;
	padding-top: 0.2666rem;
}
